*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #a3a3a3;
}

.container{
    height: 100vh;
    width: 100vw;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
}

a{
    color: #a3a3a3;
    font-weight: bold;
    font-size: 14px;
    text-decoration: none;
}

a:hover{
    color: white;
}

.fa-solid:hover{
    color: white;
}

i{
    cursor: pointer;
}

h3{
    color: white;
}

h6{
    color: #a3a3a3;
    padding: 10px 0;
}

.green-bottom{
    background-color: lightgreen;
    height: 2px;
    width: 30%;
    margin: 2px auto;
}

main{
    display: flex;
    height: calc(100vh - 90px);
}
/* COMMONS */


/* start header with navbar */
main .left-side nav{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: black;
    width: 200px;
    height: 100%;
    padding: 0 20px;
}

main .left-side nav .top-link .logo-image .logo-standard{
    display: flex;
    align-items: center;
    height: 80px;
}

main .left-side nav .top-link .logo-image .logo-small{
    display: none;
}

main .left-side nav .top-link .logo-image img{
    width: 70%;
}

main .left-side nav .top-link .nav-link{
    display: flex;
    flex-direction: column;
    gap: 4px;
}

main .left-side nav .top-link .nav-link img{
    width: 26px;
    padding-right: 4px;
}

main .left-side nav .top-link .nav-link .nav-link-item{
    display: flex;
    align-items: center;
}

main .left-side nav .top-link .nav-link .text{
    color: #a3a3a3;
    font-weight: bold;
}

main .left-side nav .top-link .nav-link .text a{
    font-size: 10px;
}

main .left-side nav .top-link .nav-link .text.home a{
    color: white;
}

main .left-side nav .top-link .playlist{
    margin-top: 20px;
}

main .left-side nav .top-link .playlist strong{
    color: white;
    font-size: 11px;
}

main .left-side nav .top-link .playlist ul{
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding-top: 10px;
    list-style-type: none;
}

main .left-side nav .top-link .playlist ul a:first-child{
    font-size: 12px;
}

main .left-side nav .top-link .playlist ul a{
    font-size: 10px;
}

main .left-side nav .top-link .playlist .add-button{
    background-color: #a3a3a3;
    padding: 4px 6px;
    color: black;
    font-size: 18px;
}

main .left-side nav .bottom-link hr{
    border: 1px solid #6a6a6a;
}
main .left-side nav .bottom-link .download-app-link{
    display: flex;
    align-items: center;
}

main .left-side nav .bottom-link .download-app-link .download-image img{
    width: 20px;
}

main .left-side nav .bottom-link .download-app-link .download-text {
    color: #a3a3a3;
    padding-left: 10px;  
} 

main .left-side nav .bottom-link .download-app-link .download-text a{
    font-size: 10px;
}

main .left-side nav .bottom-link .user-account{
    display: flex;
    padding: 6px 0;
    font-size: 12px;
}

main .left-side nav .bottom-link .user-account .user-image img{
    width: 24px;
    height: 24px;
    background-color: #a3a3a3;
    border-radius: 50%;
}


main .left-side nav .bottom-link .user-account .user-text{
    display: flex;
    align-items: center;
    color: white;
    padding-left: 10px;
}  
/* end header with navbar */


/* start Main Right-side */
main .right-side{
    width: calc(100% - 200px);
    height: 100%;
    background-color: #141922;
    overflow-y: scroll;
}

main .right-side .right-side-top{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #080b12;
    height: 80px;
    padding-right: 20px;
}

main .right-side .right-side-top .upgrade-button button{
    border: 1px solid white;
    border-radius: 20px;
    padding: 8px 26px;
    background-color: black;
    color: white;
    font-size: 10px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s ease;
}

main .right-side .right-side-top .upgrade-button button:hover{
    transform: scale(1.15);
}

main .card-section .navigation-link ul{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    list-style-type: none;
    padding: 20px 0 30px;
}

main .card-section .navigation-link ul li{
    font-size: 12px;
}

main .right-side .card-section .row{
    margin-bottom: 14px;
}

main .right-side .card-section .row h3{
    font-size: 16px;
}

main .right-side .card-section .row{
    padding: 0 20px;
}

main .right-side .card-section .row .card{
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

main .right-side .card-section .row .col{
    width: calc(100% / 6 - ( 16px / 6 * 5));
}

main .right-side .card-section .row .col .card-image img{
    width: 100%;
    padding-top: 20px;
    padding-bottom: 10px;
}

main .right-side .card-section .row .col .card-details{
    text-align: center;
}

main .right-side .card-section .row .col .card-details h5{
    color: white;
}

main .right-side .card-section .row .col .card-details h6{
    font-size: 10px;
}

main .right-side .card-section .row .col .card-image.rounded img{
    border-radius: 50%;
}
/* start Position absolute hover card */
main .right-side .card-section .row .col .card-image{
    position: relative;
    cursor: pointer;
}


/* end Position absolute hover card */
.row .card .col .card-image .hover-play{
    display: none;
    font-size: 50px;
}

.row .card .col .card-image:hover{
    opacity: 0.6;
}

.row .card .col .card-image:hover .hover-play{
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

/* End Main Right-side */


/* start bottom navigation bar */
.navigation-bar-bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 90px;
    background-color: #282828;
}

.navigation-bar-bottom .navigation-left-side{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    max-width: 210px;
    padding: 20px 0 20px 10px;
    gap: 10px;
}
.navigation-bar-bottom .navigation-left-side .listening-image {
    height: 100%;
}

.navigation-bar-bottom .navigation-left-side .listening-image img{
    height: 100%;
}

.navigation-bar-bottom .navigation-left-side .listening-text{
    
    flex-grow: 1;
}

.navigation-bar-bottom .navigation-left-side .listening-text .author{
    color: white;
    font-weight: bold;
    font-size: 12px;
}

.navigation-bar-bottom .navigation-left-side .listening-text .song{
    color: #a3a3a3;
    font-weight: bold;
    font-size: 10px;
}

.navigation-bar-bottom .navigation-left-side .listening-text .song:hover{
    text-decoration: underline;
    cursor: pointer;
}

.navigation-bar-bottom .navigation-left-side .navigation-left-side-icon{
    display: inline-block;
}

.navigation-bar-bottom .navigation-left-side .navigation-left-side-icon i{
    color: #a3a3a3;
}

.navigation-bar-bottom .navigation-left-side .navigation-left-side-icon i:hover{
    color: white;
}

.navigation-bar-bottom .navigation-left-side .navigation-left-side-icon i:first-child{
    padding-right: 10px;
}

.navigation-bar-bottom .navigation-center-side{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
    max-width: 400px;
    width: 100%;
    padding: 0 10px;
}

.navigation-bar-bottom .navigation-center-side .center-side-top{
    padding: 8px 0;
}

.navigation-bar-bottom .navigation-center-side .center-side-top .controller{
    display: flex;
    align-items: center;
    gap: 30px;
}

.navigation-bar-bottom .navigation-center-side .center-side-top .controller i{
    color: white;
}

.navigation-bar-bottom .navigation-center-side .center-side-top .controller i:nth-child(3){
    font-size: 28px;
}

.navigation-bar-bottom .center-side-bottom {
    display: flex;
    width: 100%;
    padding-bottom: 8px;
}

.navigation-bar-bottom .center-side-bottom .center-side-bottom-bar{
    flex-grow: 1;
    display: flex;
    align-items: center;
    gap: 20px;
}

.navigation-bar-bottom .center-side-bottom .time-bar{
    height: 4px;
    background-color: #5a5a5a;
    width: 100%;
    border-radius: 4px;
}

.navigation-bar-bottom .center-side-bottom .time-bar .time-bar-current{
    width: 20%;
    height: 4px;
    background-color: #a3a3a3;
}

.navigation-bar-bottom .center-side-bottom .time-bar .time-bar-current:hover{
    background-color: #81b71a;
    cursor: pointer;
}

.navigation-bar-bottom .center-side-bottom .time-passed,
.navigation-bar-bottom .center-side-bottom .time-remaining{
    color: white;
    font-weight: bold;
    font-size: 10px;
}

.navigation-bar-bottom .navigation-right-side{
    padding-right: 10px;
    width: 100%;
    max-width: 200px;
}

.navigation-bar-bottom .navigation-right-side .controller-right {
    display: flex;
    align-items: center;
    gap: 14px;
}

.navigation-bar-bottom .navigation-right-side .controller-right i {
    color: white;
    font-size: 14px;
}

.navigation-bar-bottom .navigation-right-side .controller-right .volume-bar{
    height: 4px;
    width: 100%;
    background-color: #5a5a5a;
    border-radius: 4px;
}

.navigation-bar-bottom .navigation-right-side .controller-right .volume-bar .volume-bar-current{
    height: 4px;
    width: 25%;
    background-color: #a3a3a3;
    border-radius: 4px;
}

.navigation-bar-bottom .navigation-right-side .controller-right .volume-bar .volume-bar-current:hover{
    background-color:  #81b71a;
    cursor: pointer;
}

/* end bottom navigation bar */


/* MEDIA QUERY */

@media screen and (max-width: 567px){
    
    main .left-side nav{
        align-items: center;
        width: 50px;
    }

    main .left-side nav .top-link .logo-image{
        display: flex;
        justify-content: center;
    }

    main .left-side nav .top-link .logo-image .logo-standard{
        display: none;
    }

    main .left-side nav .top-link .logo-image .logo-small{
        display: flex;
        justify-content: center;
        width: 100%;
        padding-top: 4px;
        padding-bottom: 10px;
    }

    main .left-side nav .top-link .nav-link img{
        padding: 0;
    }

    main .right-side{
        width: calc(100% - 50px);
    }

    .text, .playlist, .download-text strong, .user-text strong, .bottom-link hr{
        display: none;
    }

    main .left-side nav .bottom-link{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    main .left-side nav .bottom-link .user-account .user-text{
        padding: 0;
    }

    main .left-side nav .bottom-link .download-app-link .download-text{
        padding: 0;
    }

    main .right-side .card-section .row .col{
        width: calc(100% / 2 - 16px);
    }
}


@media screen and (min-width: 568px) and (max-width: 767px){
    
    main .right-side .card-section .row .col{
        width: calc(100% / 2 - ( 16px / 2 ));
    }
}


@media screen and (min-width: 768px) and (max-width: 991px){

    main .right-side .card-section .row .col{
        width: calc(100% / 4 - ( 16px / 4 * 3));
    }
}


@media screen and (min-width: 1400px){
    main .right-side .card-section .row .card{
        gap: 30px;
    }

    main .right-side .card-section .row .col{
        width: calc(100% / 6 - ( 30px / 6 * 5));
    }
}