*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #a3a3a3;
}

.container{
    height: 100vh;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
}

a{
    color: #a3a3a3;
    font-weight: bold;
    font-size: 14px;
    text-decoration: none;
}

i{
    cursor: pointer;
}

h3{
    color: white;
}

h6{
    color: #a3a3a3;
    padding: 10px 0;
}

main{
    display: flex;
    height: calc(100vh - 80px);
}
/* COMMONS */


/* start header with navbar */
main .left-side nav{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: black;
    width: 250px;
    height: 100%;
    padding: 0 20px;
}

main .left-side nav .top-link .logo-image{
    display: flex;
    align-items: center;
    height: 80px;
}

main .left-side nav .top-link .logo-image img{
    width: 60%;
}

main .left-side nav .top-link .nav-link{
    display: flex;
    flex-direction: column;
    gap: 4px;
}

main .left-side nav .top-link .nav-link img{
    width: 34px;
    padding-right: 4px;
}

main .left-side nav .top-link .nav-link .nav-link-item{
    display: flex;
    align-items: center;
}

main .left-side nav .top-link .nav-link .text{
    color: #a3a3a3;
    font-size: 10px;
    font-weight: bold;
}

main .left-side nav .top-link .nav-link .text.home{
    color: white;
}


main .left-side nav .top-link .playlist{
    margin-top: 20px;
}

main .left-side nav .top-link .playlist strong{
    color: white;
    font-size: 11px;
}

main .left-side nav .top-link .playlist ul{
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding-top: 10px;
    list-style-type: none;
}

main .left-side nav .top-link .playlist ul a:first-child{
    font-size: 12px;
}

main .left-side nav .top-link .playlist ul a{
    font-size: 10px;
}

main .left-side nav .top-link .playlist .add-button{
    background-color: #a3a3a3;
    padding: 2px 4px;
    color: black;
    font-size: 22px;
}

main .left-side nav .bottom-link .download-app-link{
    display: flex;
}

main .left-side nav .bottom-link .download-app-link .download-image img{
    width: 20px;
}

main .left-side nav .bottom-link .download-app-link .download-text{
    color: #a3a3a3;
    padding-left: 10px;  
    font-size: 10px;
} 

main .left-side nav .bottom-link .user-account{
    display: flex;
    padding: 6px 0;
    font-size: 12px;
}

main .left-side nav .bottom-link .user-account .user-image img{
    width: 24px;
    height: 24px;
    background-color: #a3a3a3;
    border-radius: 50%;
}


main .left-side nav .bottom-link .user-account .user-text{
    display: flex;
    align-items: center;
    color: white;
    padding-left: 10px;
}  
/* end header with navbar */


/* start Main Right-side */
main .right-side{
    width: 100%;
    height: 100%;
    background-color: #141922;
    overflow-y: scroll;
}

main .right-side .right-side-top{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #080b12;
    width: 100%;
    height: 80px;
    padding-right: 20px;
}

main .right-side .right-side-top .upgrade-button button{
    border: 1px solid #a3a3a3;
    border-radius: 20px;
    padding: 12px 32px;
    background-color: black;
    color: white;
    font-size: 12px;
}

main .right-side .card-section{
    padding-left: 20px;

}

main .card-section .navigation-link ul{
    display: flex;
    justify-content: center;
    gap: 20px;
    list-style-type: none;
    padding: 20px 0 30px;
}

main .card-section .navigation-link ul li{
    font-size: 12px;
}

main .right-side .card-section .row{
    margin-bottom: 14px;
}

main .right-side .card-section .row h3{
    font-size: 16px;
}

main .right-side .card-section .row .card{
    display: flex;
    gap: 20px;
}

main .right-side .card-section .row .col{
    width: calc(100% / 6 - 20px);
}

main .right-side .card-section .row .col .card-image{
    position: relative;
}

main .right-side .card-section .row .col .card-image img{
    width: 100%;
    padding-top: 20px;
    padding-bottom: 10px;
}

main .right-side .card-section .row .col .card-details{
    text-align: center;
}

main .right-side .card-section .row .col .card-details h5{
    color: white;
}

main .right-side .card-section .row .col .card-details h6{
    font-size: 10px;
}
/* Position absolute */
.play-absolute{
    position: absolute;
    top: 35%;
    left: 35%;
    font-size: 50px;
    color: white;
}
/* end position absolute */

/* End Main Right-side */


/* start bottom navigation bar */
.navigation-bar-bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 80px;
    background-color: #282828;
}

.navigation-bar-bottom .navigation-left-side{
    display: flex;
    align-items: center;
    padding-left: 10px;
}

.navigation-bar-bottom .navigation-left-side .listening-image img{
    width: 50px;
}

.navigation-bar-bottom .navigation-left-side .listening-text{
    padding-left: 10px;
    padding-right: 50px;
}

.navigation-bar-bottom .navigation-left-side .listening-text .author{
    color: white;
    font-weight: bold;
    font-size: 12px;
}

.navigation-bar-bottom .navigation-left-side .listening-text .song{
    color: #a3a3a3;
    font-weight: bold;
    font-size: 10px;
}

.navigation-bar-bottom .navigation-left-side .icon-heart i,
.navigation-bar-bottom .navigation-left-side .icon-folder i{
    color: #a3a3a3;
    padding-right: 20px;
}

.navigation-bar-bottom .navigation-center-side{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
}

.navigation-bar-bottom .navigation-center-side .center-side-top .controller{
    display: flex;
    align-items: center;
    gap: 30px;
}

.navigation-bar-bottom .navigation-center-side .center-side-top .controller i{
    color: white;
    font-size: 16px;
}

.navigation-bar-bottom .navigation-center-side .center-side-top .controller i:nth-child(3){
    font-size: 28px;
}

.navigation-bar-bottom .center-side-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-bottom: 8px;
}

.navigation-bar-bottom .center-side-bottom .time-passed,
.navigation-bar-bottom .center-side-bottom .time-remaining{
    color: white;
    font-weight: bold;
    font-size: 10px;

}

.navigation-bar-bottom .center-side-bottom .time-bar{
    height: 3px;
    background-color: #a3a3a3;
    width: 400px;
}

.navigation-bar-bottom .navigation-right-side{
    padding-right: 10px;
}

.navigation-bar-bottom .navigation-right-side .controller-right {
    display: flex;
    align-items: center;
    gap: 20px;
}

.navigation-bar-bottom .navigation-right-side .controller-right i {
    color: white;
    font-size: 14px;
}

.navigation-bar-bottom .navigation-right-side .controller-right .volume-bar{
    height: 3px;
    width: 100px;
    background-color: #a3a3a3;
}


/* end bottom navigation bar */




